# Project
electropy\.egg-info/

# MacOS
.DS_Store

# Python
__pycache__/
*.pyc

# Python-related temp files
.coverage
.pytest_cache/
.ipynb_checkpoints/

# Release-related files
build/
dist/

# Images
*.png
*.gif
